<link rel="stylesheet" type="text/css" href="/Styles/global.css" />
<script src="/Scripts/logout.js"></script>
<body>
  <style>
    main {
      margin-top: 5vh !important;
    }
  </style>
  <main class="flex" id="login-form">
    <button onclick="logout()" class="simple danger-btn logout-btn">
      Log Out
    </button>
    <h1>Enable Reminder</h1>
    <form class="flex" action="/reminder/enable" method="post">
      <img src="/Media/logo.jpg" alt="krepl" width="50px" />
      <label for="date"
        >Date <input type="date" name="date" id="date" required
      /></label>
      <label for="subject"
        >Subject
        <select name="subject" id="subject">
          <option value="subject" disabled selected>Select Subject</option>
          <option value="sample">sample</option>
        </select>
      </label>
      <label for="description"
        >Reminder
        <select name="subject" id="subject">
          <option value="subject" disabled selected>Select Reminder</option>
          <option value="sample">sample</option>
        </select>
      </label>
      <label for="email"
        >Email <input type="email" name="email" id="email"
      /></label>
      <label for="contact"
        >Contact No <input type="text" name="contact" id="contact"
      /></label>
      <label for="sms">SMS <input type="text" name="sms" id="sms" /></label>
      <label for="reoccur">
        Reoccur
        <div class="button-cluster grid checkbox-cluster">
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkmark"></span>
            2
          </label>
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkmark"></span>
            3
          </label>
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkmark"></span>
            5
          </label>
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkmark"></span>
            7
          </label>
        </div>
      </label>
      <button type="submit">submit</button>
    </form>
  </main>
  <script>
    const form = document.querySelector("form")
    form.addEventListener("submit", (event) => {
      if (!form.email.value && !form.sms.value && !form.contact.value) {
        alert("Please fill either email, contact or sms.")
        event.preventDefault()
      }
    })
  </script>
</body>
