<link rel="stylesheet" type="text/css" href="/Styles/global.css" />
<body>
  <main class="flex" id="login-form">
    <h1>Some Error Occured!</h1>
    <form class="flex" action="/auth/login" method="get">
      <img src="/Media/logo.jpg" alt="krepl" width="50px" />
      <h2 class="danger">Login Failed!!</h2>
      <button type="submit">Retry</button>
    </form>
  </main>
</body>
